__pycache__/
fish/fish_variables
fish/functions/__fnm_index_update.fish
fish/functions/__fnm_list.fish
fish/functions/__fnm_mirror.fish
fish/functions/__fnm_read_fnmrc.fish
fish/functions/__fnm_rm.fish
fish/functions/__fnm_run_bin_as.fish
fish/functions/__fnm_usage.fish
fish/functions/__fnm_use.fish
fish/functions/__fnm_version_download.fish
fish/functions/__fnm_version_local.fish
fish/functions/__fnm_version_query.fish
fish/functions/__fnm_version_validate.fish
fish/functions/__fnm_version_which.fish
fish/functions/await.fish
fish/functions/fisher.fish
fish/functions/fnm.fish
fish/functions/get_file_age.fish
fish/functions/last_job_id.fish
fish/functions/menu.fish
fish/functions/node.fish
fish/functions/npm.fish
fish/functions/nvm.fish
fish/functions/sync.fish
fish/project_specific/
fish/fishfile
fish/conf.d/
fish/completions/
vim/undo/
vim/plugs/
vim/.netrwhist
vim/plugin/packer_compiled.lua
vim/lazy-lock.json
.luarc.json
